#cafe_header { 
    margin-bottom: 30px;
}

#cafe_header img {
    margin-left: 20px;
}

#cafe_content { 
    margin-left: 20px;
    margin-right: 20px;
}

#pas_image {
    background-color: white;
}

#pas_slide{
    width:40%;
    height:50%;
    position:relative;
    overflow:hidden;
    background-color: white;
}

ul,li {
    list-style:none;
}

.slide .pas_pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}

.slide .two_pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}

#pas_pos1:checked~ul{margin-left:0%;}
#pas_pos2:checked~ul{margin-left:-100%;}
#pas_pos3:checked~ul{margin-left:-200%;}
#pas_pos4:checked~ul{margin-left:-300%;}
#pas_pos1:checked~.pas_pos>label:nth-child(1){background:#666;}
#pas_pos2:checked~.pas_pos>label:nth-child(2){background:#666;}
#pas_pos3:checked~.pas_pos>label:nth-child(3){background:#666;}
#pas_pos4:checked~.pas_pos>label:nth-child(4){background:#666;}

#two_pos1:checked~ul{margin-left:0%;}
#two_pos2:checked~ul{margin-left:-100%;}
#two_pos3:checked~ul{margin-left:-200%;}
#two_pos4:checked~ul{margin-left:-300%;}
#two_pos1:checked~.two_pos>label:nth-child(1){background:#666;}
#two_pos2:checked~.two_pos>label:nth-child(2){background:#666;}
#two_pos3:checked~.two_pos>label:nth-child(3){background:#666;}
#two_pos4:checked~.two_pos>label:nth-child(4){background:#666;}


#two_image {
    background-color: white;
}

#two_slide{
    width:40%;
    height:50%;
    position:relative;
    overflow:hidden;
    background-color: white;
}


