#food {
    padding-top: 20px;
}

#food_type {
    display: flex;
    flex-direction: column;
    margin-left: 1.0%;
    width: 16.5%;
    height: 100%;
    border-right: 1px solid white;
    float: left;
    box-sizing: border-box;
}

.foodstore {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.foodstore p {
    text-align: center;
}

.foodstore span p {
    text-align: left;
}

#food_store {
    width: 82.5%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    padding: 7px;
}