/* 
Main Page StyleSheet
Gachon Univ. Department of Software 2019-1 Major Course 'Web Programming' Project 
Made by Minjae Seon
*/

body {
  background-color: white;
  font-family: 'NanumBarunGothic', 'serif';
}

header {
  background-color: transparent;
  margin: 20px 20px 30px 20px;
  vertical-align: middle;
}

header a {
  text-decoration: none;
}

header img {
  vertical-align: middle;
  padding-top: 5px;
  width: 20%;
}

nav a {
  text-decoration: none !important;
}

#nav-hamburger {
  vertical-align: middle;
  padding-top: 8px;
  padding: 15px 25px 15px 25px;
  font-size: 30px;
  float: right;
  color: white;
  background-color: lightgreen;
}

#sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sideMenu a {
  padding: 8px 8px 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sideMenu a:hover {
  color: #f1f1f1;
}

main {
  margin: 10px 0 10px 0;
}

.content_nav {
  vertical-align : middle;
  padding-bottom: 10px;
}

.content_nav a {
  text-decoration: none !important;
  font-weight: bold;
  padding: 0 20px 0 20px;
  color: orange;
}

footer {
    position: relative;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: small;
    padding-top: 10px;
    bottom: 0;
}

footer img {
    width: 24px;
    padding-top: 10px;
    padding-bottom : 5px;
}

footer a {
    color: black;
    text-decoration: none;
}

