/*
Resposive StyleSheet
Gachon Univ. Department of Software 2019-1 Major Course 'Web Programming' Project
Made by Minjae Seon
*/

@media screen and (max-width: 950px) {
    #default_navbar {
        display: none;
    }

    #small_navbar {
        display: inline;
    }

    header {
        position: fixed;
        width: 100%;
        text-align: center;
    }

    header img {
        width: 30%;
        padding-right: 10px;
    }

    footer {
        position: fixed;
    }

    #study img {
        width: 50%;
    }
    
    #study_section {
        margin: auto;
    }

    #study_content {
        width: 100%;
        margin: auto;
        border: 0px;
        align-content: center;
    }

    #study_nav {
        display: none;
    }

    #study_photo {
        display: none;
    }
}