/*
Resposive StyleSheet
Gachon Univ. Department of Software 2019-1 Major Course 'Web Programming' Project
Made by Minjae Seon
*/

@media screen and (max-width: 950px) {
    header {
        position: fixed;
    }
    header img {
        width: 100px;
    }

    #nav-hamburger {
        margin-top: 2px;
        vertical-align: middle;
        font-size: 15pt;
    }

    main {
        margin-top: 80px;
        margin-bottom: 0;
    }

    #sideMenu_Button a {
        padding: 8px 8px 0px 16px;
        font-size: 15px;
    }

    
    #sideMenu_copyright {
        font-size: 13px;
        margin-top: 20px;
        text-align: center;
        color: #818181;
        
    }
    
    #sideMenu_copyright a {
        color: #818181;
        text-decoration: none !important; 
    }
  

    dialog {
        position: fixed;
        width: 55%;
    }
    
    dialog img {
        width: 200px;
        height: 150px;
    }

    #main_map svg {
        max-width: 2000px;
    }
}