/*
Resposive StyleSheet
Gachon Univ. Department of Software 2019-1 Major Course 'Web Programming' Project
Made by Minjae Seon
*/

@media screen and (max-width: 950px) {
    #sideMenu {
        height: 70% !important;
    }

    #sideMenu a {
        padding: 8px 8px 0px 16px;
        font-size: 10px;
    }

    dialog {
        width: 45%;
    }
}