#rest_header {
    border-bottom : 2px solid gray;
    text-align : center;
    background-color : rgb(0, 0, 0);
}

#rest_header img {
    display: inline;
    vertical-align : middle;
}

#rest_nav {
    vertical-align : middle;
}

#rest_nav a {
    text-decoration: none !important;
    font-weight: bold;
    padding: 0 20px 0 20px;
    color: orange;
}
#rest_section{
    margin-left: 10px;
}