/*
LadyBug (Shuttle) TimeTable StyleSheet
Gachon Univ. Department of Software 2019-1 Major Course 'Web Programming' Project
Made by Gunyoung Kang, Minjae Seon
*/

#ladybug_header {
    border-bottom : 2px solid gray;
    text-align : center;
    background-color : rgb(0, 0, 0);
}

#ladybug_header img {
    display: inline;
    vertical-align : middle;
}

#ladybug_section{
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: auto;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.ladybug_content {
    text-align: center;
    display: block;
    border : 2px dotted gray;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
}

.ladybug_content img {
    max-width: 100%;
    margin: 0px auto;
}

#ladybug_section li{
    font-weight : bold;
    font-size : 15px;
}