#store_header { 
    margin-bottom: 30px;
}

#store_header img {
    margin-left: 20px;
}


.store_pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}

#store_pos1:checked~ul{margin-left:0%;}
#store_pos2:checked~ul{margin-left:-100%;}
#store_pos3:checked~ul{margin-left:-200%;}
#store_pos4:checked~ul{margin-left:-300%;}
#store_pos1:checked~.store_pos>label:nth-child(1){background:#666;}
#store_pos2:checked~.store_pos>label:nth-child(2){background:#666;}
#store_pos3:checked~.store_pos>label:nth-child(3){background:#666;}
#store_pos4:checked~.store_pos>label:nth-child(4){background:#666;}


#store_image {
    background-color: transparent;
}

#store_slide{
    width:40%;
    height:50%;
    position:relative;
    overflow:hidden;
    background-color: transparent;
}
