/* 
Main Page StyleSheet
Gachon Univ. Department of Software 2019-1 Major Course 'Web Programming' Project 
Made by Minjae Seon
*/

body {
    background-color: ivory;
    font-family: 'NanumBarunGothic', 'serif';
}

header {
    background-color: rgb(64, 164, 231);
    padding: 15px 0 15px 0;
    margin-bottom: 10px;
    text-align: center;
}

header img {
    vertical-align: middle;
    padding: 0 15px 0 0;
    width: 12%;
}

nav {
    vertical-align: middle;
    display: inline;
}

@media screen {
    #default_navbar {
        display: inline;
    }
    
    #small_navbar {
        display: none;
    } 
}

nav a {
    text-decoration: none !important;
    font-weight: bold;
    padding: 0 20px 0 20px;
    color: white;
}

nav a:visited {
    color : white;
}

nav a:hover {
    color: rgb(160, 219, 255);
}

main {
    margin: 10px 0 10px 0;
}

#main_map {
    text-align: center;
}

#main_map svg {
    width: 90%;
}

footer {
    position: relative;
    width: 100%;
    background-color: rgb(64, 164, 231);
    color: white;
    text-align: center;
    font-size: small;
    padding-top: 10px;
    bottom: 0;
}

footer img {
    padding-top: 10px;
    padding-bottom : 5px;
}

 
